<html>
      <head>
            {% if title %}
            <title>Blog-{{title}}</title>
            {% else %}
            <title>Blog</title>
            {% endif %}
      </head>
      <body>
            <div>
                  JWOL SHOKTI : 
                  <a href="{{url_for('index')}}">Home</a>
                  <a href="{{url_for('login')}}">Login</a>
                  <a href="{{url_for('register')}}">Register</a>
            </div>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                  {% for message in messages %}
                        <li>
                              {{message}}
                        </li>
                  {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
      </body>
</html>